* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin: 2vh auto;
    height: 20vh;
    background-color: #4eb69f;
    color: #14362e;
    font-size: 3.5vh;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
}

a {
    text-decoration: none;
    display: block;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

header p {
    margin: 0;
    padding: 0;
    font-size: 2.5vh;
}

section {
    width: 100%;
    height: 70vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-color: #4eb69f;
    color: #14362e;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info {
    display: flex;
    justify-content: center;
}

#info div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    padding: 1.5vh;
}

#board {
    box-sizing: border-box;
    text-align: center;
    padding: 0 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label,
.button {
    font-family: 'Varela Round', sans-serif;
    width: 700px;
    min-height: 8vh;
}

.button {
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #14362e;
    border-radius: 6px;
    margin: 1.5vh;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
}

.button:hover {
    background: #4eb69f; `
}

.button:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

#word {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#lifeData {
    color: red;
    font-size: 4vh;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 2vh;
    height: 4vh;
    background-color: #4eb69f;
    color: #14362e;
    font-size: 3vh;
    align-content: center;
    justify-content: center;
}

#people {
    margin: 3vh;
}

#animation {
    display: block;
    width: 100%;
}

#category {
    width: 90%;
    padding: 0 20vh;
    margin: 0 20px;
}

#categoryButtons {
    display: flex;
    align-items: center;
}

#categoryButtons .button {
    width: 150px;
    display: block;
}

#slidecontainer {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slidercontainer span {
    line-height: 5vh;
    display: inline-block;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #636161;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

input {
    display: block;
}

#numbersOfWords {
    display: inline-block;
    width: 5vh;
    height: 5vh;
    margin: 2vh;
    font-weight: bold;
    line-height: 5vh;
}

#selectCategory {
    height: 7vh;
    width: 20%;
    border: 3px solid #14362e;
    border-radius: 6px;
    font-family: 'Varela Round', sans-serif;
    font-size: 3vh;
    margin-right: 10px;
}

#startButton {
    text-align: center;
    line-height: 6vh;
    height: 6vh;
    width: 100px;
    background: white;
    border: 3px solid #14362e;
    border-radius: 6px;
    font-family: 'Varela Round', sans-serif;
    font-size: 3vh;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    transition: 0.2s;
}

#startButton:hover {
    background: #4eb69f;
}

#startButton:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

#endLifeEvent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 5vh;
    line-height: 7vh;
}

#tryAgain {
    cursor: pointer;
    transition: 0.2s;
}

#tryAgain:hover {
    color: white;
}

#tryAgain:active {
    transform: translateY(4px);
}

img {
    width: 7vh;
    height: 7vh;
    display: block;
}

#scoreData,
#wrongData {
    width: 7vh;
}

#endInfo {
    display: flex;
    height: 70px;
    justify-content: justify;
}

h3 {
    margin: 0;
}

#loadingAnimation {
    z-index: 1;
    padding: 0px;
    margin: 0 auto;
    position: absolute;
    background: rgba(33, 33, 33, 0.6);
    box-sizing: border-box;
    height: 67.5%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    margin: 7px;
    font-family: 'Gloria Hallelujah', cursive;
    width: 200px;
    height: 70px;
    border: 2px solid rgb(80, 80, 80);
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    background: rgba(70, 70, 70, 1);
    color: white;
}

#loadingContainer {
    overflow: hidden;
}

.line {
    position: relative;
    width: 50px;
    height: 5px;
    background: white;
}

.line:nth-of-type(1) {
    transform: translate(-59px, -80px);
    animation: line1 4.8s linear infinite;
}

.line:nth-of-type(2) {
    transform: rotate(90deg) translate(-112px, -182px);
    animation: line2 4.8s linear infinite;
    animation-delay: 1.7s;
}

.line:nth-of-type(3) {
    transform: translate(209px, -5px);
    animation: line3 4.8s linear infinite;
    animation-delay: 2.36s;
}

.line:nth-of-type(4) {
    transform: rotate(90deg) translate(17px, 32px);
    animation: line4 4.8s linear infinite;
    animation-delay: 4.14s;
}

#contactForm {
    width: 400px;
    background: lightgrey;
    position: absolute;
    padding: 20px;
    top:30px;
    right:-440px;
    transition: 1s;
}
.showContactForm{
    transform: translateX(-440px);
    
}

#logoMessage{
    cursor: pointer;
    width:50px;
    height: 50px;
    background: lightgrey url(email.png) no-repeat center;
    background-size: 40px;
   position: absolute;
    top:0px;
    left: -50px;
     transition: 0.7s;
   
}
.arrowImage{
     background: lightgrey url(right-arrow.png)  no-repeat center !important;
     background-size: 30px !important;
}
.formField {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 3px 0 10px 0;
    padding: 3px 0;
    width: 100%;
}

textarea.formField {
    width: 100%;
    height: 100px
}

#sendBtn {
    cursor: pointer;
    background: #ccc;
    background: linear-gradient(#ddd 0, #eee 100%);
    border: 1px solid #ccc;
    line-height: 32px;
    font-size: 14px;
    padding: 0 25px;
    border-radius: 3px
}

#send_form_status {
    border: 1px dashed #ccc;
    display: none;
    padding: 0 10px;
    margin: 10px 0
}

.status_ok {
    color: #060
}

.status_err {
    color: #F00
}

;
@keyframes line1 {
    from {}
    to {
        transform: translate(541px, -80px);
    }
}

@keyframes line2 {
    from {}
    to {
        transform: rotate(90deg) translate(488px, -182px);
    }
}

@keyframes line3 {
    from {}
    to {
        transform: translate(-381px, -5px);
    }
}

@keyframes line4 {
    from {}
    to {
        transform: rotate(90deg) translate(-583px, 32px);
    }
}
